USE [master]
GO
/****** Object:  Database [DishManagmentDB]    Script Date: 17/12/2025 12:55:53 p. m. ******/
CREATE DATABASE [DishManagmentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DishManagmentDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DishManagmentDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DishManagmentDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DishManagmentDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DishManagmentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DishManagmentDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 17/12/2025 12:55:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Category_Id] [int] IDENTITY(1,1) NOT NULL,
	[Category_Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dishes]    Script Date: 17/12/2025 12:55:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dishes](
	[Dish_Id] [int] IDENTITY(1,1) NOT NULL,
	[Dish_Name] [varchar](50) NOT NULL,
	[Base_Servings] [int] NOT NULL,
	[Category_Id] [int] NOT NULL,
	[Image_Path] [varchar](100) NOT NULL,
	[Source_Recipe_Link] [varchar](100) NOT NULL,
	[Description] [varchar](500) NOT NULL,
	[Final_Price_for_Clients] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Dishes] PRIMARY KEY CLUSTERED 
(
	[Dish_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[AllDishes]    Script Date: 17/12/2025 12:55:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[AllDishes]

AS

SELECT [Dish_Id]
      ,[Dish_Name]
      ,C.Category_Name AS Category
      ,[Image_Path]
      ,[Final_Price_for_Clients]
FROM [DishManagmentDB].[dbo].[Dishes] D
JOIN Categories C ON D.Category_Id = C.Category_Id
GO
/****** Object:  Table [dbo].[Dishes_Ingredients]    Script Date: 17/12/2025 12:55:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dishes_Ingredients](
	[Dish_Id] [int] NOT NULL,
	[Ingredient_Id] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Unit] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredients]    Script Date: 17/12/2025 12:55:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredients](
	[Ingredient_Id] [int] IDENTITY(1,1) NOT NULL,
	[Ingredient_Name] [varchar](50) NOT NULL,
	[Price_per_Unit] [decimal](18, 2) NOT NULL,
	[Main_Unit] [varchar](20) NOT NULL,
	[Available_count_in_stock] [int] NOT NULL,
 CONSTRAINT [PK_Ingredients] PRIMARY KEY CLUSTERED 
(
	[Ingredient_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipes]    Script Date: 17/12/2025 12:55:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipes](
	[Recipe_Id] [int] IDENTITY(1,1) NOT NULL,
	[Dish_Id] [int] NOT NULL,
	[Process_Description] [varchar](200) NOT NULL,
	[Time_In_Minutes] [int] NOT NULL,
 CONSTRAINT [PK_Recipes] PRIMARY KEY CLUSTERED 
(
	[Recipe_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Category_Id], [Category_Name]) VALUES (1, N'Bread')
INSERT [dbo].[Categories] ([Category_Id], [Category_Name]) VALUES (2, N'Desserts')
INSERT [dbo].[Categories] ([Category_Id], [Category_Name]) VALUES (3, N'Drinks')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Dishes] ON 

INSERT [dbo].[Dishes] ([Dish_Id], [Dish_Name], [Base_Servings], [Category_Id], [Image_Path], [Source_Recipe_Link], [Description], [Final_Price_for_Clients]) VALUES (1, N'Stuffed Mushrooms', 5, 9, N'1.jpg', N'https://www.allrecipes.com/recipe/278271/air-fryer-stuffed-mushrooms/', N'These low-carb mushrooms are easy to make and cook in under 10 minutes in your air fryer. They make the perfect game-day snack, but also impress as a first course when having friends over for an elega', CAST(7.25 AS Decimal(18, 2)))
INSERT [dbo].[Dishes] ([Dish_Id], [Dish_Name], [Base_Servings], [Category_Id], [Image_Path], [Source_Recipe_Link], [Description], [Final_Price_for_Clients]) VALUES (2, N'Homemade Flour Tortillas', 24, 1, N'2.jpeg', N'https://www.allrecipes.com/recipe/157642/homemade-flour-tortillas/', N'Traditional flour tortillas - homemade and much better than store bought. Do not substitute vegetable oil or shortening for the lard.', CAST(2.20 AS Decimal(18, 2)))
INSERT [dbo].[Dishes] ([Dish_Id], [Dish_Name], [Base_Servings], [Category_Id], [Image_Path], [Source_Recipe_Link], [Description], [Final_Price_for_Clients]) VALUES (3, N'Chocolate Puddino', 8, 2, N'3.jpg', N'https://www.allrecipes.com/recipe/283307/chocolate-puddino/', N'Perfect for Valentine''s Day, this rich and delicious chocolate pudding is made with a classic Italian method that they call "budino." The pudding has a glorious texture--firm enough to stay on the spo', CAST(7.60 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Dishes] OFF
GO
INSERT [dbo].[Dishes_Ingredients] ([Dish_Id], [Ingredient_Id], [Quantity], [Unit]) VALUES (1, 61, 2, N'pcs')
INSERT [dbo].[Dishes_Ingredients] ([Dish_Id], [Ingredient_Id], [Quantity], [Unit]) VALUES (1, 13, 2, N'oz')
INSERT [dbo].[Dishes_Ingredients] ([Dish_Id], [Ingredient_Id], [Quantity], [Unit]) VALUES (1, 51, 0, N'teaspoon')
GO
SET IDENTITY_INSERT [dbo].[Ingredients] ON 

INSERT [dbo].[Ingredients] ([Ingredient_Id], [Ingredient_Name], [Price_per_Unit], [Main_Unit], [Available_count_in_stock]) VALUES (1, N'Anchovy fillets', CAST(0.80 AS Decimal(18, 2)), N'piece (pcs)', 23)
INSERT [dbo].[Ingredients] ([Ingredient_Id], [Ingredient_Name], [Price_per_Unit], [Main_Unit], [Available_count_in_stock]) VALUES (2, N'Asparagus', CAST(2.98 AS Decimal(18, 2)), N'bunch', 10)
INSERT [dbo].[Ingredients] ([Ingredient_Id], [Ingredient_Name], [Price_per_Unit], [Main_Unit], [Available_count_in_stock]) VALUES (3, N'Avocado', CAST(0.48 AS Decimal(18, 2)), N'piece (pcs)', 4)
SET IDENTITY_INSERT [dbo].[Ingredients] OFF
GO
SET IDENTITY_INSERT [dbo].[Recipes] ON 

INSERT [dbo].[Recipes] ([Recipe_Id], [Dish_Id], [Process_Description], [Time_In_Minutes]) VALUES (1, 1, N'Using a damp cloth, gently clean mushrooms. Remove stems and discard.', 5)
INSERT [dbo].[Recipes] ([Recipe_Id], [Dish_Id], [Process_Description], [Time_In_Minutes]) VALUES (2, 1, N'Mince scallions and separate white and green parts.', 2)
INSERT [dbo].[Recipes] ([Recipe_Id], [Dish_Id], [Process_Description], [Time_In_Minutes]) VALUES (3, 1, N'Combine cream cheese, Cheddar cheese, the white parts from the scallions, paprika, and salt in a small bowl. Stuff filling into the mushrooms, pressing it in to fill the cavity with the back of a smal', 10)
SET IDENTITY_INSERT [dbo].[Recipes] OFF
GO
ALTER TABLE [dbo].[Dishes]  WITH CHECK ADD  CONSTRAINT [FK_Dishes_Categories] FOREIGN KEY([Category_Id])
REFERENCES [dbo].[Categories] ([Category_Id])
GO
ALTER TABLE [dbo].[Dishes] CHECK CONSTRAINT [FK_Dishes_Categories]
GO
ALTER TABLE [dbo].[Dishes_Ingredients]  WITH CHECK ADD  CONSTRAINT [FK_Dishes_Id] FOREIGN KEY([Dish_Id])
REFERENCES [dbo].[Dishes] ([Dish_Id])
GO
ALTER TABLE [dbo].[Dishes_Ingredients] CHECK CONSTRAINT [FK_Dishes_Id]
GO
ALTER TABLE [dbo].[Dishes_Ingredients]  WITH CHECK ADD  CONSTRAINT [FK_Ingredients_Id] FOREIGN KEY([Ingredient_Id])
REFERENCES [dbo].[Ingredients] ([Ingredient_Id])
GO
ALTER TABLE [dbo].[Dishes_Ingredients] CHECK CONSTRAINT [FK_Ingredients_Id]
GO
ALTER TABLE [dbo].[Recipes]  WITH CHECK ADD  CONSTRAINT [FK_Recipes_Dishes] FOREIGN KEY([Dish_Id])
REFERENCES [dbo].[Dishes] ([Dish_Id])
GO
ALTER TABLE [dbo].[Recipes] CHECK CONSTRAINT [FK_Recipes_Dishes]
GO
USE [master]
GO
